version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: fipi_qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  app:
    build: .
    container_name: fipi_parser_app
    ports:
      - "8000:8000"
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    volumes:
      # Для сохранения базы данных и других данных
      - ./data:/app/data
    restart: unless-stopped

volumes:
  qdrant_data:
