<div class="math-buttons{{ ' active' if active else '' }}">
  {% for row in math_symbols %}
    {% for btn in row %}
      <button type="button" onclick="insertSymbol({{ block_index }}, {{ btn.value | tojson | replace('\"', '&quot;') }})">{{ btn.label | e }}</button>
    {% endfor %}
    <br>
  {% endfor %}
</div>
